body {
	background-color: lightgreen;
}
h1 {
	font-size: 50px;
	color: cornflowerblue;
	font-family: impact, sans-serif;
	text-align: left;
}
p {
	font-size: 20px;
	color: mediumpurple;
	font-family: "Palatino Linotype", "Book Antigua", Palatino, serif;
	text-align: left;
	line-height: 1.5; /* 1.5 line spacing */
	margin-left: 10%;
	margin-right: 10%;
}
a {
	text-align: left;
	font-size: 20px;
	color: royalblue;
}
