body{
	background-color: plum;
	text-align: center;
}
h1 {
	color: aqua; 
	font-family: cursive;
}
q {
	color: mediumslateblue; 
	font-family: Arial, Helvetica, sans-serif;
}
#resumelink {color: chartreuse;}
#biolink {color: magenta;}
#linkedin{color: aquamarine;}
#Project{color : #cc00ff;}