body {
	background-color: hotpink;
	font-family: cursive;
	color: black;
}
h1 {
	text-align: center;
	font-size: 40px;
}
h2 {
	font-size: 28px;
	font-family: "Lucida Console", monospace;
}
p {
	font-size: 19px;
	font-family: times, "Times New Roman", serif;
}
li {
	font-size: 17px;
}